@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --logo-size: 60px;
    --overlayer-color:#f47c20;
    --linked-color:#f47c20;
    --background-color: #333333;
    --background-color_sec:#F2F2F2;
    --font-color: #fff;
    --nav-width:400px;
    --menu-width:300px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
 
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section{
    position: relative;
    width: 100%;
    top:15vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
        top:10vh;
        padding: 5px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    @media (max-width: 480px) {
        padding: 5px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}

.dark_anchor {
    height: 15vh;
    margin-top: -15vh;
    @media (max-width: 768px) {
        height: 10vh;
        margin-top: -10vh;
    }
}

footer{
    position: relative;
    background-color: var(--background-color_sec);
    width: 100%;
    height: 2vh;
    max-height: 20px;
    padding: 0 10px;
    bottom: 0;
}

#copyright {
    font-size: 0.3rem;
    font-style: italic;
    text-align: center;
}

.main-naviagation{
    position: fixed;
    width:100%;
    height: 15vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    justify-content: space-between;
    align-items: center;
    z-index: 1; 
    @media (max-width: 768px) {
        height: 10vh;
        padding: 3px;
    }
}

.introduction{
    display: flex;
    flex-direction: row;
    max-width: 300px;
    height: 90%;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding: 10px;
    border-top: 3px solid var(--linked-color);
    border-bottom: 3px solid var(--linked-color);
    @media (max-width: 768px) {
        // position: absolute;
        justify-content: space-between;
        gap:5px;
        padding: 5px;
        max-width: 250px;
    }
    @media (max-width: 480px) {
        padding: 3px;
        max-width: 180px;
        gap: 1px;
    }
}

.introduction h2{
    color: var(--background-color_sec); 
    font-size: 1.2rem;
    @media (max-width: 768px) {
        font-size: 0.9rem;
    }
    @media (max-width: 480px) {
        font-size: 0.8rem;
    }
}

.introduction h3{
    color: var(--background-color_sec); 
    font-size: 1.1rem;
    @media (max-width: 768px) {
        font-size: 0.8rem;
    }
    @media (max-width: 480px) {
        font-size: 0.7rem;
    }
}


.nav_bar.non-active{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-items: center;
    align-items: center;
    visibility: visible;
    @media (max-width:768px) {
        position: absolute;
        right: -100vw;
        flex-direction: column;
        pointer-events: none;
        z-index: -1;
        transition: 1s ease-in-out;
    }
    
}

.nav_bar{
    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    opacity: 0.95;
    @media (max-width: 768px) {
        flex-direction: column;
        visibility: visible;
        height: 40vh;
        width: 100vw;
        position: fixed;
        right:0;
        top:10vh;
        transition: 0.3s ease-in-out;
    }
    @media (max-width: 480px) {
        height: 90vh;
        width: 100vw;
        position: fixed;
        right:0;
        top:10vh;
    }
}

.nav_bar li{
    width: 120px; //不写死
    list-style: none;
    font-weight: bold;
    @media (max-width: 768px){
        width: 150px;
        border-bottom: 2px solid var(--background-color_sec);
    }
}

.nav_bar a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: var(--linked-color);
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0;
    letter-spacing: 2px;
    cursor: pointer;
    @media (max-width: 768px) {
        font-size: 1.2em;
    }
}

.nav_bar li span{
    width: 120px;
    text-align:center;
    @media (max-width: 768px) {
        width: 150px;
    }
}

.nav_bar a:hover{
    background-color: lighten($color: #333, $amount: 10%);
    border-top: 5px solid var(--linked-color);
    transition: 0.3s ease-in-out;
    @media (max-width: 768px){
        background-color: none;
        border-top: none;
        transition: none;
    }
}

.nav_bar li a:link{
    color:lighten($color: #f47c20, $amount: 20%);
}

.nav_bar li a:visited{
    color: var(--linked-color); 
}

.nav_bar li a:active {
    background-color: var(--background-color_sec);
    @media (max-width: 768px){
        background-color: none;
    }
}

.toggle{
    position: absolute;
    top:10px;
    width: var(--logo-size);
    height: var(--logo-size);
    background: url('./img/close-circle.svg');
    background-repeat: no-repeat;
    background-size: var(--logo-size)/2;
    background-position: center;
    cursor: pointer;
    filter: invert(1);
    z-index: -1;
    visibility: hidden;
    right: -50px;
    @media (max-width: 768px){
        right: 8px;
        z-index: 3;
        visibility: visible;
    }
    @media (max-width: 480px){
        top:8px;
        right: 4px;
    }
}

.toggle.active {
    position: absolute;
    top:10px;
    background: url('./img/menu-line.svg');
    background-repeat: no-repeat;
    background-size: var(--logo-size)/2;
    background-position: center;
    visibility: hidden;
    z-index: -1;
    right: -50px;
    @media (max-width: 768px){
        z-index: 3;
        visibility: visible;
        right: 8px;
    }
    @media (max-width: 480px){
        top:8px;
        right: 4px;
    }
}

.main-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    // overflow: hidden;
    background-color: var(--background-color_sec);
    height: 85vh;
    width: 100%;
    @media (max-width: 768px){
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: visible;
        height: auto;
        justify-content: space-between;
    }
}

.img-content-main{
    position: relative;
    top:1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    overflow: hidden;
    width: 85%;
    max-width: 1200px;
    border-radius: 30px;
    @media (max-width: 768px){
        border-radius: 10px;
        top: 0.6rem;
        width: 85%;
        height: auto;
        overflow:visible;
        padding: 5px;
        font-size: 0.9rem;
    }
}

.img-content-main img{
    width: 400px;
    @media (max-width: 768px){
        width: 380px;
        overflow:visible;
    }
    @media (max-width: 480px){
        width: 250px;
        overflow:visible;
    }
}

.text-content-main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-left: 10px solid var(--linked-color);
    padding: 10px;
    width: 85%;
    max-width: 1000px;
    overflow:hidden;
    @media (max-width: 768px){
        border-left:none;
        padding: 1rem;
        width: 90%;
        height: auto;
        overflow:visible;
        font-size: 0.9rem;
    }
    @media (max-width: 480px){
        width: 90%;
        overflow:visible;
        font-size: 0.85rem;
    }
}

.second-content{
    height: 85vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
    @media (max-width: 768px) {
        position: relative;
        padding: 5px;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: center;
    }
}

.card-showcase{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    max-height: 800px;
    height: 100%;
    border-radius: 30px; 
    box-shadow: 15px 15px 20px rgba(0,0,0,0.3);
    @media (max-width: 768px) {
        flex-direction: column;
        box-shadow: none;
        position: relative;
        width: 100%;
        height: auto;
        max-height: none;
        overflow: visible;
        justify-content: space-around;
        align-items: center;
    }
}

.img-content-second {
    width: 40%;
    height: 100%;
    background-color: #f47c20;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px 0 0 30px;
    @media (max-width: 768px) {
        flex-direction: column;
        position: relative;
        padding: 5px;
        width: 100%;
        height: auto;
        overflow: visible;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px 15px 0 0;
    }
    @media (max-width: 480px) {
        flex-direction: column;
        border-radius: 0;
        position: relative;
        height: auto;
        overflow: visible;
        justify-content: space-between;
        align-items: center;
    }
}

.text-content-second{
    width: 60%;
    height: 100%;
    overflow: hidden;
    border-radius: 0 30px 30px 0;
    padding: 20px;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 768px) {
        width: 100%;
        background-color: var(--background-color_sec);
        border-radius: 0 0 15px 15px;
        overflow: visible;
        padding: 15px;
        font-size: 0.8rem;
    }
    @media (max-width: 480px) {
        border-radius: 0;
        overflow: visible;
        padding: 5px;
        font-size: 0.7rem;
    }
}
.photo{
    width: 100%;
    height: 60%;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    @media (max-width:768px) {
        padding: 15px;
        max-width: none;
        width: 90%;
        max-height: none;
    }
 }
.photo img{
    position: relative;
    border: 6px solid var(--background-color_sec);
    border-radius: 20px;
    max-height: 300px;
    // width: 100%;
    max-width: 300px;
    height: 100%;
    @media (max-width:768px) {
        max-width: none;
        min-width: 350px;
        width: 60%;
        height: auto;
        max-height: none;
        border: 4px solid var(--background-color_sec);
        border-radius:10px;
        top: 8px;
        left: 0;
    }
    @media (max-width:480px) {
        min-width: 160px;
        width: 90%;
        border: 2px solid var(--background-color_sec);
        border-radius:0;
        top: 4px;
    }
}

.second-intro{
    position: relative;
    display: flex;
    height: 40%;
    max-height: 150px;
    width: 60%;
    max-width: 300px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-top: 3px solid var(--background-color_sec);
    @media (max-width:768px) {
        border-left:none
    }
    @media (max-width:480px) {
        padding: 10px 0;
        height: auto;
        font-size: 0.8rem;
        max-width: none;
        max-height: none;
    }
}

.second-intro h2{
    font-size: 1.1rem;
    font-weight: bold;
}

.second-intro h3{
    color: #F2F2F2;
    font-size: 1rem;
    text-transform: uppercase;
}

.service-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color_sec);
    width: 100%;
    height: 85vh;
    padding: 20px;
    overflow: hidden;
    @media (max-width: 768px){
        background-color: var(--background-color);
        padding: 10px;
        height: auto;
        overflow:visible;
        justify-content: flex-start;
        width: 100%;  
    }
    @media (max-width: 480px){
        padding: 0;
    }
}

.service-textcase{
    height: 15vh;
    max-width: 60vw;
    border-bottom:3px solid #f47c20 ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 768px){
        justify-content: center;
        gap: 1rem;
        width: 100%;
        border-bottom:2px solid var(--background-color_sec);
    }
}

.service-textcase h2{
    color: #333333;
    @media (max-width: 768px){
        color: var(--background-color_sec);
        font-size: 1rem;
    }
}
.service-textcase h3{
    color: #f47c20;
    @media (max-width: 768px){
        font-size: 0.9rem;
    }
}

.service-showcase{
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 768px){
        padding: 20px 0;
        flex-direction: column;
        width: 100%;
        height: auto;
        overflow: visible;
        gap:20px;
    }
    @media (max-width: 480px){
        gap:15px;
        padding: 10px 0;
    }
}

.service-showcase h4{
    color: var(--background-color);
    @media (max-width: 768px){
        font-size: 0.8rem;
    }
}

.img-content-all{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 768px){
        justify-content: space-between;
        padding: 2px;
        flex-direction: row;
        width: 90%;
    }
    @media (max-width: 480px){
        padding: 0;
        width: 90%;
        display: flex;
        flex-direction: column;
    }
}

.img-content-shown {
    position: absolute;
    top: 1rem;
    background-color: var(--background-color);
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media (max-width: 768px){
        position: static;
        border-radius: 10px;
        height: 250px;
        background-color: #f47c20;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media (max-width: 480px){
        border-radius: 0;
        background-color: #f47c20;
        max-width: 300px;
        width: 90%;
        height: 80px;
        display: flex;
        flex-direction: column;
    }

}

.img-content-shown h3{
    color: var(--background-color_sec);
}

.img-content-hidden {
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    margin: auto;
    visibility: hidden;
    max-width: 850px;
    width:100%;
    min-height: 200px;
    height: 30vh;
    padding: 0 10px;
    border-radius: 30px;
    background-color: var(--font-color);
    color: var(--background-color);
    box-shadow: 10px 15px 25px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media (max-width: 768px){
        position: static;
        border-radius: 10px;
        background-color: var(--font-color);
        width: 66%;
        height: 250px;
        display: flex;
        flex-direction: column;
        pointer-events: none;
        visibility: visible;
        box-shadow: none;
        font-size: 0.8rem;
    }
    @media (max-width: 480px){
        border-radius: 0;
        background-color: var(--font-color);
        max-width: 300px;
        width: 90%;
        height: 250px;
        display: flex;
        flex-direction: column;
        box-shadow: none;
        font-size: 0.75rem;
    }
}  

.img-content-hidden img{
    position: absolute;
    opacity: 0.2;
    right: 0;
    bottom: 0;
    @media (max-width:768px) {
        visibility: hidden;;
    }
}

.img-content-all:hover .img-content-hidden{
    visibility: visible;
    transform: translatex(10px);
    transition: 0.8s ease-in-out;
    @media (max-width:768px) {
        pointer-events: none;
        transform:none;
        transition: none;
        box-shadow: none;
    }
}

.img-content-all:hover .img-content-shown{
    background-color: var(--linked-color);
    border: 10px solid var(--background-color_sec);
    box-shadow: 12px 12px 15px lightgrey;
    @media (max-width:768px) {
        border: none;
        box-shadow: none;
        pointer-events: none;
        transform:none;
        transition: none;
    }
}

.service-textcase h3{
    color: #f47c20;
    @media (max-width: 768px){
        font-size: 0.9rem;
    }
} 

.img-content-all h4{
    color: var(--linked-color);
    @media (max-width: 768px){
        color: var(--background-color);
        font-size: 1.1rem;
    }
}

.img-content-all:hover h4{
    color: var(--background-color);
}

.sub-title::after{
    content: 'me';
    text-transform: uppercase;
    font-weight: bold;
    color: #f47c20;
}

.sub-title1::after{
    content: 'Address:';
    text-transform: uppercase;
    font-weight: bold;
    color: #f47c20;
}

.contact-page{
    position: relative;
    height: 85vh;
    width: 100%;
    padding: 10px;
    @media (max-width: 768px){
        padding: 5px;
        height: auto;
        overflow:visible;
    }
}

.contact-showcase{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-showcase h2 {
    color: #F2F2F2;
}

.contact-showcase h3{
    color: #F2F2F2;
    @media (max-width: 768px){
        font-size: 0.9rem;
    }
    @media (max-width: 480px){
        font-size: 0.8rem;
    }
}

.google-Map{
    max-width: 1200px;
    height: 50%;
    width: 70%;
    max-height: 45vh;
    @media (max-width: 768px){
        height: 30%;
        max-width: 600px;
        width: 90%;
    }
}
.google-Map iframe{
    width: 100%;
    height: 90%;
    border: 10px solid var(--background-color_sec);
    border-radius: 25px;
    @media (max-width: 768px){
        border-radius: 10px;
    }
}

.textpart{
    height: 40%;
    max-height: 35vh;
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    gap: 5px;
    @media (max-width:768px) {
        flex-direction: column;
        height: 60%;
        width: 90%;
    }
}

.contact-page img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    z-index: -2;
}

.info-details {
    width: 48%;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
    background-color: #F2F2F2;
    opacity: 60%;
    position: relative;
    line-height: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media (max-width: 768px){
        width: 100%;
        padding: 5px;
        font-size: 0.8rem;
        border-radius: 10px;
        line-height: 25px;
    }
    @media (max-width: 480px){
        font-size: 0.6rem;
        border-radius: 0;
    }
}

form{
    width: 48%;
    color: var(--font-color);
    font-size: 1rem;
    padding: 30px;
    border: 2px solid var(--linked-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center–;
    @media (max-width: 768px){
        width: 100%;
        padding: 10px;
        font-size: 0.8rem;
        border-radius: 10px;
    }
    @media (max-width: 480px){
        font-size: 0.7rem;
        border-radius: 0;
    }
}
.overlayer{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:darken($color: #F2F2F2, $amount: 70%) ;
    mix-blend-mode: overlay; 
    z-index: -1;
}

.social{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-items: center;
    align-items: center;
}

.social li{
    list-style: none;
}

.social li a{
    display: inline-block;
    filter: invert(0);
    margin: 0 10px 0 10px;
    transition: 1.5s;
    @media (max-width: 768px){
        transition: none;
        padding: 5px;
        margin: 0;
    }
}

.social li a:hover{
    transform: translateY(-8px);
    transition: 0.5s;
    @media (max-width: 768px){
        transition: none;
        transform: none;
    }
}

.social li img{
    width: 3vh;
    max-width: 25px;
    @media (max-width: 768px){
        width: 2.5vh;
    }
    @media (max-width: 480px){
        width: 2vh;
    }
}




